/* src/Calculator.css */

.calculator {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #c33434;
  }
  
  .display {
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
    font-size: 24px;
    background-color: #141313;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #303f9f;
  }
  
  button:active {
    background-color: #1c2a78;
  }
  